message_schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="message_schema.xsd"
xmlns="message_schema.xsd"
elementFormDefault="qualified">

<xs:element name="message">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="to" type="xs:string"/>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="action" type="xs:string"/>
      <xs:element name="data" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="timeSent" type="xs:dateTime"/>
  </xs:complexType>
</xs:element>

</xs:schema>
