Hive/hive/common/schemas/config_schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="config_schema.xsd"
xmlns="config_schema.xsd"
elementFormDefault="qualified">

<xs:element name="config">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="target" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="timeSent" type="xs:dateTime"/>
  </xs:complexType>
</xs:element>

</xs:schema>
